.DS_Store
.atom/
.idea
.vscode/
.packages
.pub/
build/
android/.settings
android/.project
android/app/.settings
android/app/.classpath
android/app/.project
ios/.generated/
packages
pubspec.lock
.flutter-plugins
